.popupcrop{
    /* background-color:#FFFFFF; */
    background-color:black;
    width:60vw;
    height: 30vw;
    position: fixed;
    left:20%;
    top: 10%;
    z-index: 1040;
    border-radius: 0.9vw;
}
.reactEasyCrop_Container{
    height: 20vw;
    width: 20vw;
    margin-left: 35%;
    margin-top: 2%;
}
.uploadbutton{
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    padding-left:2vw ;
    padding-right:2vw ;
    background-color: red;
    color: #FFFFFF;
    font-size: 1vw;
    border: none;
    border-radius: 0.7vw;
    outline: none;
}
.cropbuttonsMainDiv{
    width: 100%;
    background-color: #FFFFFF;
    height: 5vw;
    border-radius: 0.7vw;
}
button, input, optgroup, select, textarea{
    background-color:#FFFFFF;
    font-size: 1vw !important;
    color: white;
}
.popupprofilecropMaindiv{
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 1040;

}
.reactEasyCrop_CropArea{
    border-radius: 50% !important;
}

